<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invite.kff">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/glamourlive"
        android:label="@string/app_name"
        android:roundIcon="@drawable/glamourlive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chatActivity"></activity>
        <activity android:name=".notActivity" />
        <activity android:name=".videoActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".homeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MyserFire">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9225575939386535~1219754205" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>